/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */

.sidebar {
    position: static
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */

    border-right: 1px solid #eee;
    background-color: #f5f5f5;
}
.nav-sidebar {
    position: static
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;

    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */

    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: -21px;
    margin-bottom: -20px;
    margin-left: -20px;
    margin-top: 30px;

}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 20px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */

        background-color: #f5f5f5;
        border-right: 1px solid lightgray;
    }
    .nav-sidebar > li > a {
        border-right: 1px solid #d5d5d5;
        border-left: 1px solid #fff;
    }
    .nav-sidebar > li:first-child > a {
        border-left: 0;
        border-radius: 5px 0 0 5px;
    }
    .nav-sidebar > li:last-child > a {
        border-right: 0;
        border-radius: 0 5px 5px 0;
    }
}
.nav-sidebar > li > a {
    padding-right: 20px;
    margin-right: -21px;
    margin-left: -20px;
    font-weight: bold;
    color: #777;
    text-align: center;
    background-color: #e5e5e5;
    /* Old browsers */

    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e5e5e5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5', GradientType=0);
    /* IE6-9 */

    background-repeat: repeat-x;
    /* Repeat the gradient */

    border-bottom: 1px solid #d5d5d5;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    background-color: #ddd;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
}
.nav-sidebar > li:first-child > a {
    border-radius: 5px 5px 0 0;
}
.nav-sidebar > li:last-child > a {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}
/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */

    .masthead,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}
/*
 * Custom stuff
 */

.btn-symbol {
    font-family: Lucida Sans Unicode;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
/*
ul li form{
margin-left:-20px;
margin-right:-20px;
}*/

.nav .h4, h4 {
    margin-bottom:10;
}

.basket .input-group .form-control {
    position: relative;
    z-index: 2;
    float: none;
    width: auto;
    margin-bottom: 0px;
    min-width: 2;
    max-width: 60px;
}
.basket .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: center;
    border-top: 1px solid #ddd;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    vertical-align: middle;
    border: none;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}