{% extends "layout.html" %}

{% block content %}
<div class="table-responsive">

    <h2 class="sub-header">Basket</h2>


    <table class="table table-striped">
        <thead>
        <tr>

            <th></th>
            <th>Name</th>
            <th>Amount in store</th>
            <th>Order amount</th>
            <th>Price</th>
            <th>Sum</th>
            <th></th>

        </tr>
        </thead>

        <tbody>
        {% for basket_row in basket %}
        {% set asset = basket_row['asset']%}
        {% set order_amount = basket_row['amount']%}
        {% set order_sum = basket_row['order_sum']%}
        {% set asset_amount = asset['amount'] %}
        {% set asset_name = asset['name'].decode('utf-8') %}
        {% set asset_price = asset['price'] %}
        {% set asset_id = asset['idAsset'] %}
        {% set asset_image = asset['imagePath'].decode('utf-8') %}
        <tr>
            <td style="width:140px;">
                <a href="{{asset_image}}">
                    <img border="0"
                         alt="{{asset_name}}"
                         src="{{asset_image}}"
                         width="100">
                </a>
            </td>
            <td><b>{{ asset_name.capitalize() }}</b></td>
            <td>{{ asset_amount }}</td>
            <td>{{ order_amount }}</td>
            <td>{{ asset_price }}</td>
            <td>{{ order_sum }}</td>
            <td style="text-align:right">
                <form action="{{ url_for('.delete_basket_asset', user_id=current_user.user_id, asset_id=asset_id ) }}"
                      method="POST">
                    <button class="btn btn-danger" type="submit"><b>X</b></button>
                </form>
            </td>
        </tr>

        {% else %}

        {% endfor %}

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b> Total: </b><br>{{total_price}}</td>
            <td></td>

        </tr>
        <tbody>


    </table>

</div>

{% endblock %}