{% extends "layout.html" %}

{% block content %}
<div class="table-responsive">

    <h2 class="sub-header">Basket</h2>

    <table class="table table-striped basket">
        <thead>
        <tr>
            <th></th>
            <th>Product</th>
            <th></th>
            <th style="text-align:right">Available</th>
            <th style="text-align:right">Order amount</th>
            {% if active_basket.has_back_orders %}
            <th>Back ordered</th>
            {% endif %}
            <th style="text-align:right">Price</th>
            <th width="10%" style="text-align:right">Sum</th>
            <th width="10%" style="text-align:right"></th>
        </tr>
        </thead>

        <tbody>
        {% for basket_row in active_basket.rows %}
        {% set asset = basket_row['asset']%}
        {% set order_amount = basket_row['amount']%}
        {% set back_order = basket_row['back_order']%}
        {% set order_sum = basket_row['asset_order_sum']%}
        {% set asset_amount = asset['amount'] %}
        {% set asset_name = asset['name'] %}
        {% set asset_price = asset['price'] %}
        {% set asset_id = asset['idAsset'] %}
        {% set asset_image = asset['imagePath'] %}

        <tr>
            <td width="15%">
                <a href="{{asset_image}}">
                    <img border="0"
                         alt="{{asset_name}}"
                         src="{{asset_image}}"
                         width="50px">
                </a>
            </td>
            <td width="10%"><b>{{ asset_name.capitalize() }}</b></td>
            <td width="10%"></td>
            {% if back_order > 0 %}
            <td class="text-warning" width="10%" style="text-align:right">{{ asset_amount }}</td>
            {% else %}
            <td class="text-success" width="10%" style="text-align:right">{{ asset_amount }}</td>
            {% endif %}
            <td>
                <form action="{{ url_for('.update_basket_asset', user_id=current_user.user_id, asset_id=asset_id ) }}" method="POST">

                    <div class="input-group">
                        <input type="text" name="text-amount" class="form-control" placeholder="{{ order_amount }}" required>
                        <span class="input-group-btn">
                            <button class="btn btn-primary " type="submit"><span class=btn-symbol>&#x21bb;</span></button>
                        </span>
                    </div>

                </form>
            </td>
            {% if back_order > 0 %}
            <td>{{back_order}}</td>
            {% elif active_basket.has_back_orders%}
            <td></td>
            {% endif %}
            <td width="20%" style="text-align:right">{{ asset_price }}</td>
            <td width="10%" style="text-align:right"><b>{{ order_sum }}</b></td>
            <td class="col-xs-10" width="10%" style="text-align:right">
                <form action="{{ url_for('.delete_basket_asset', user_id=current_user.user_id, asset_id=asset_id ) }}" method="POST">
                    <button class="btn btn-danger" type="submit"><b>X</b></button>
                </form>
            </td>
        </tr>

        {% else %}

        {% endfor %}

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% if active_basket.has_back_orders %}
            <td></td>
            {% endif %}
            <td width="10%" style="text-align:right">
                <b>
                    Shipping:
                    <br>
                    {{active_basket.shipping}}
                </b>
            </td>

            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% if active_basket.has_back_orders %}
            <td></td>
            {% endif %}

            <td width="10%" style="text-align:right">
                <b>
                    Total:
                    <br>
                    <span style="font-size:20px;">{{active_basket.total_sum}}</span>
                </b>
            </td>

            <td width="10%" style="text-align:right">
                <form action="{{ url_for('.checkout', user_id=current_user.user_id, basket_id=active_basket.id ) }}" method="POST">
                    <button class="btn btn-primary" type="submit"><b>Checkout</b></button>
                </form>
            </td>

        </tr>
        <tbody>
    </table>

    <h2 class="sub-header">Previous orders</h2>
    {% for previous_basket in previous_baskets %}
    <table class="table table-striped basket">
        <tbody>

        <tr>
            <td width="25%">
                {% set dt = previous_basket.date_time%}
                <a href="{{ url_for('.display_basket', user_id=current_user.user_id, selected_prev_basket_id=previous_basket.id) }}"><b>Order:</b> {{ dt.strftime("%d %B %Y, %H:%M") }}</a>
            </td>
            <td>
                <b>Status:</b> {{previous_basket.status_name}}
            </td>
        </tr>
        {% if previous_basket.id|int == selected_prev_basket_id|int %}
        <table class="table table-striped basket">
            <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th style="text-align:right">Order amount</th>
                <th style="text-align:right">Price</th>
                <th style="text-align:right">Sum</th>
            </tr>
            </thead>
            {% for basket_row in previous_basket.rows %}
            {% set asset = basket_row['asset']%}
            {% set order_amount = basket_row['amount']%}
            {% set back_order = basket_row['back_order']%}
            {% set order_sum = basket_row['asset_order_sum']%}
            {% set asset_amount = asset['amount'] %}
            {% set asset_name = asset['name'] %}
            {% set asset_price = asset['price'] %}
            {% set asset_id = asset['idAsset'] %}
            {% set asset_image = asset['imagePath'] %}
            <tr>
                <td width="25%">
                    <a href="{{asset_image}}">
                        <img border="0"
                             alt="{{asset_name}}"
                             src="{{asset_image}}"
                             width="50px">
                    </a>
                </td>
                <td><b>{{ asset_name.capitalize() }}</b></td>
                <td width="20%" style="text-align:right">{{ order_amount }}</td>
                <td width="20%" style="text-align:right">{{ asset_price }}</td>
                <td width="10%" style="text-align:right"><b>{{ order_sum }}</b></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td width="10%" style="text-align:right"><b>Total: {{ previous_basket.total_sum }}</b></td>
            </tr>
        </table>

        </tbody>
    </table>
    {% endif %}
    {% endfor %}

</div>

{% endblock %}