<table class="table table-striped">
    <thead>

    <tr>
        <!-- Table headers with list ordering links -->
        <th></th>
        {% if (order_by == "name") and (order == "asc") %}
        {% set link=url_for('browse_page.display_category', category_id=nav_category_id, order_by='name', order='desc') %}
        {% else %}
        {% set link=url_for('browse_page.display_category', category_id=nav_category_id, order_by='name', order='asc') %}
        {% endif %}
        <th>
            <a href="{{ link }}">Product</a>
        </th>
        {% if (order_by == "price") and (order == "asc") %}
        {% set link=url_for('browse_page.display_category', category_id=nav_category_id, order_by='price', order='desc') %}
        {% else %}
        {% set link=url_for('browse_page.display_category', category_id=nav_category_id, order_by='price', order='asc') %}
        {% endif %}
        <th>
            <a href="{{ link }}">Price</a>
        </th>
        {% if (order_by == "amount") and (order == "asc") %}
        {% set link=url_for('browse_page.display_category', category_id=nav_category_id, order_by='amount', order='desc') %}
        {% else %}
        {% set link=url_for('browse_page.display_category', category_id=nav_category_id, order_by='amount', order='asc') %}
        {% endif %}
        <th>
            <a href="{{ link }}">Amount</a>
        </th>

        <th></th>
    </tr>
    </thead>

    <tbody>
    <!--Asset data-->
    {% for category_asset in nav_category_asset_row_list %}
    {% set asset_name = category_asset['name'].decode('utf-8') %}
    {% set asset_id = category_asset['idAsset'] %}
    {% set asset_image = category_asset['imagePath'].decode('utf-8') %}
    <tr>
        <td width="15%">
            <a href="{{asset_image}}">
                <img border="0"
                     alt="{{asset_name}}"
                     src="{{asset_image}}"
                     width="100px">
            </a>
        </td>
        <td>
            <a href="{{url_for('asset_page.display_asset', asset_id=asset_id) }}">
                <b>{{ asset_name.capitalize() }}</b>
            </a>
        </td>
        <td>{{ category_asset["price"] }}</td>
        <td>{{ category_asset["amount"] }}</td>

        <!--Basket-->
        <td style="text-align:right">
            {% if current_user.is_authenticated %}
            <form action="{{ url_for('basket_page.add_asset', user_id=current_user.user_id, asset_id=asset_id) }}" method="POST">
                <button class="btn btn-primary" type="submit">Add to Basket</button>
            </form>
            {% else %}
            <form action="{{ url_for('login_page.login') }}">
                <button class="btn btn-primary" type="submit">Add to Basket</button>
            </form>
            {% endif%}
        </td>
    </tr>
    {% else %}
    {% endfor %}
    </tbody>
</table>