{% extends "layout.html" %}

{% block content %}
<!--<h1 class="page-header">Dashboard</h1>-->

<div class="table-responsive">
    {% if categorized_items %}

    {% for category in categorized_items %}
    {% set cname = category[0].decode('utf-8') %}
    <h2 class="sub-header">{{ cname.capitalize() }}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Image</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for category_asset in category[1] %}
        {% set asset_name = category_asset['name'].decode('utf-8') %}
        {% set asset_path = category_asset['imagePath'].decode('utf-8') %}
        <tr>
            <td>{{ asset_name.capitalize() }}</td>
            <td>{{ category_asset["price"] }}</td>
            <td>{{ category_asset["amountInStore"] }}</td>
            <td>
                <a href="{{asset_path}}">
                    <img border="0"
                         alt="{{asset_name}}"
                         src="{{asset_path}}"
                         height="100">
                </a>
            </td>
            <td>
                <form action="{{ url_for('remove') }}" method="POST">
                    <input type="image"
                           src="{{ url_for('static', filename='images/close.png') }}"
                           name="button-remove"
                           class="btTxt submit"
                           value="{{ category_asset['idAsset'] }}"/>
                </form>
            </td>
        </tr>

        {% else %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    {% endfor %}

    {% else %}
    Please take a look at our fine wares.
    {% endif %}
</div>


{% endblock %}
