{% extends "layout.html" %}

{% block content %}
<h1 class="page-header">Assets</h1>

<h2 class="sub-header">Add category</h2>
<form action="." method="POST">
    Category name:<br>
    <input type="text" name="text-categoryName">
    <br>
    <input type="submit" name="button-save-category" value="Add">
    <input type="submit" name="button-clear-category" value="Clear all">
</form>

<br>

<h2 class="sub-header">Add asset</h2>
<form action="." method="POST">
    Asset name:<br>
    <input type="text" name="text-name">
    <br>
    Category:<br>
    <select name="select-category">
        {% for row in category_rows %}
        <option value="{{row['categoryName'].decode('utf-8')}}">{{row["categoryName"].decode('utf-8')}}
        </option>
        {% else %}
        <option value="none"></option>
        {% endfor %}
    </select>
    <br>
    Price:<br>
    <input type="text" name="text-price">
    <br>
    Amount in store:<br>
    <input type="text" name="text-amountInStore">
    <br>
    Image address:<br>
    <input type="text" name="text-imagePath">
    <br>
    <input type="submit" name="button-save-asset" value="Add">
    <input type="submit" name="button-clear-asset" value="Clear all">
</form>
{% endblock %}
