{% extends "layout.html" %}

{% block content %}
<!--<h1 class="page-header">Dashboard</h1>-->

<div class="table-responsive">
    {% if categorized_items %}

    {% for category in categorized_items %}
    {% set cname = category[0].decode('utf-8') %}
    <h2 class="sub-header">{{ cname.capitalize() }}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {% for category_asset in category[1] %}
        <tr>
            <td>{{ category_asset["name"].decode('utf-8').capitalize() }}</td>
            <td>{{ category_asset["price"] }}</td>
            <td>{{ category_asset["amountInStore"] }}</td>
            <td>
                <a href="{{category_asset['imagePath'].decode('utf-8')}}">
                    <img border="0"
                         alt="{{category_asset['name'].decode('utf-8')}}"
                         src="{{category_asset['imagePath'].decode('utf-8')}}"
                         height="100">
                </a>
            </td>
        </tr>
        {% else %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    {% endfor %}

    {% else %}
    Please take a look at our fine wares.
    {% endif %}
</div>


{% endblock %}
