<div class="col-sm-3 col-md-2 sidebar">

    <ul class="nav nav-sidebar">
        <h4 style="text-align:center;">Categories</h4>
        {% if current_user.admin and nav_category_name %}

        <li>
            <form action="{{ url_for('.add_category', category_id=nav_category_id) }}" method="POST">
                <div class="input-group">
                    <input type="text" name="text-category_name" class="form-control" placeholder="Add category..." required>
                    <span class="input-group-btn"><button class="btn btn-success" type="submit">
                        <span class=btn-symbol><b>&#xff0b;</b></span>
                    </button></span>
                </div>
            </form>

        </li>

        <br>

        {% endif %}

        {% for category in all_category_rows %}

        {% set category_name = category['name'].decode('utf-8')%}
        {% set category_id = category['idCategory']%}

        {% if nav_category_id and category_id|int == nav_category_id|int %}
        <li class="active">
            {% else %}
        <li>
            {% endif %}

            <a href="{{url_for('browse_page.display_category', category_id=category_id, order_by='name', order='asc') }}">
                {{ category_name.capitalize() }}
            </a>
        </li>

        {% else %}
        {% endfor %}
    </ul>
</div>