<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My web shop</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>

                {% if current_user.is_authenticated %}
                <li><a href="#">{{ current_user.first_name }}</a></li>
                <li><a href="{{ url_for('basket_page.display_basket', user_id=current_user.user_id) }}">Basket</a></li>
                <li><a href="{{ url_for('login_page.logout') }}">Sign out</a></li>

                {% else %}
                <li><a href="{{ url_for('signup_page.signup') }}">Sign Up</a></li>
                <li><a href="{{ url_for('login_page.login') }}">Sign In</a></li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>